<div class="container-fluid top-container">
  <div class="row">

    <div *ngFor="let data of dataStore" class="col-sm-12 col-lg-4 col-xl-3">

      <mat-card class="example-card">

        <div class="div-container">

          <ngb-carousel *ngIf="data">

            <ng-template ngbSlide>

              <div class="image-card mx-auto">
                <img [src]="data.img_url" class="rounded  d-block img-fluid " alt="{{data.img_url}}">
              </div>

              <div class="icon-favorite">
                <mat-icon class="carrusel-icon">favorite_border</mat-icon>
              </div>

            </ng-template>

            <ng-template ngbSlide>
              <img [src]="images[1]" alt="Random second slide">
              <div class="icon-favorite">
                <mat-icon class="carrusel-icon">favorite_border</mat-icon>
              </div>
            </ng-template>

            <ng-template ngbSlide>
              <img [src]="images[2]" alt="Random third slide">
              <div class="icon-favorite">
                <mat-icon class="carrusel-icon">favorite_border</mat-icon>
              </div>
            </ng-template>

          </ngb-carousel>



          <div class="text-card">
            <div class="room mt-3">
              <B> PRIVATE ROOM - {{data.bedroom_number}} BED</B>
            </div>
            <div class="title-card-image">
              <strong>{{data.title}}</strong>
            </div>
            <div class="text-price">From {{data.price_formatted}} per night - Free cancellation</div>
            <div>{{data.updated_in_days_formatted}}</div>


            <div class="mb-2" >

              <ngb-rating [rate]="data.ranting" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733; </span>
                </ng-template>
              </ngb-rating>

              <div class="display-inline"> {{data.ranting}}</div>

            </div>

          </div>
        </div>

      </mat-card>

      <mat-divider></mat-divider>

    </div>

  </div>
</div>
