.star {
  color: #b0c4de;
}

.filled {
  color: darkcyan;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.text-card {
  line-height: 23px;
  text-align: left;
}

.text-price {
  color: grey;
}

.room {
  color: brown;
  font-weight: 500;
}

.display-inline {
  display: inline;
  font-size: 12px;
}

.div-container {
  position: relative;
  margin: auto;

}

.carrusel-icon {
  font-size: 30px;
  color: white;
}

.image-card>img {
  margin: 0px auto;
}

.example-card {
  padding-bottom: 1px;
  margin-bottom: 5px;
}
