/**
* colores de las estrellas
*/

.star {
  color: #b0c4de;
}
.filled {
  color: darkcyan;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

/**
* diseño de los tarjetas de imagenes
*/
.text-card {
  line-height: 18px;
  text-align: left;
}

.text-price {
  color: grey;
}

// titulo principal
.room {
  color: brown;
  font-weight: 500;
}

// espacio entre las lineas de textos
.display-inline {
  display: inline;
  font-size: 12px;
}

.div-container {
  position: relative;
  margin: auto;
  width: 400px;
}
