<div class="container-fluid top-container">
  <div class="row">

    <div *ngFor="let data of dataStore" class="col-sm-12  col-lg-4">

      <div>

          <div class="div-container">

        <ngb-carousel *ngIf="data">

          <ng-template ngbSlide>

            <div class="image-card">
              <img [src]="data.img_url" class="rounded mx-auto d-block img-fluid " alt="{{data.img_url}}">
            </div>

            <div style="
                position: absolute;
                right: 5%;
                top: 5px;
                z-index: 10;
                padding-top: 20px;
                text-align: right;">
              <mat-icon class="carrusel-icon">favorite_border</mat-icon>
            </div>

          </ng-template>

        </ngb-carousel>



        <div class="text-card">
            <div class="room mt-3">
              <B> PRIVATE ROOM - {{data.bedroom_number}} BED</B>
            </div>
            <div class="title-card-image">
              <strong>{{data.title}}</strong>
            </div>
            <div class="text-price">From {{data.price_formatted}} per night - Free cancellation</div>
            <div>{{data.updated_in_days_formatted}}</div>


            <div class="mb-5" *ngIf="getRandomArbitrary()">

              <ngb-rating [rate]="currentRate" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733; </span>
                </ng-template>
              </ngb-rating>

              <div class="display-inline"> {{currentRate}}</div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
