/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

// @import url('//fonts.googleapis.com/icon?family=Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-blue,
900);
$accent : mat-palette($mat-light-blue,
600,
100,
800);
$warn : mat-palette($mat-orange,
600);
$theme: mat-light-theme($primary,
$accent,
$warn);
@include angular-material-theme($theme);
$font-stack : Helvetica,
sans-serif;
$font-primary: 'Roboto',
sans-serif;
$font-secundary: 'Lato',
sans-serif;
$primary-color: #333;

/**
* GLOBAL THEME
*/

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f0f0f0;
  font-family: $font-secundary;
}

.top-container {
  margin-top: 20px;
}

.accent-color {
  color: mat-color($accent) !important;
}

.warn-color {
  color: mat-color($warn) !important;
}

.link-color {
  color: #0489B1;
}

/**
* Diseño carrousel general
*/

.carousel-indicators li {
  border-radius: 50%;
  height: 10px;
  width: 10px; // border: 1px solid;
}

.carousel-indicators-ico {
  position: absolute;
  right: 15%;
  top: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.carrusel-icon {
  font-size: 30px;
  color: white;
}

.image-card>img {
  margin: 0px auto;
  border-radius: 5px;
}

/**
* icono favorito
*/

.icon-favorite {
  position: absolute;
  right: 5%;
  top: 5px;
  z-index: 10;
  padding-top: 20px;
  text-align: right;
}
